
.panda-bg-info{
    background-color: #FEEAE9;
}
.searchbar-bg{
    background-color: #F1F1F1;
}
.slider-section{
    margin-top: 100px;
    height: 455px;
    background-size: cover;
}
.categories{
    width: 100px;
}
.panda-btn-balck , .panda-btn-cherry{
    border: none;
    border-radius: 6px;
    padding: 14px 20px;
    background-color: #000000;
    color: white;
}
.panda-btn-cherry{
    background-image: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}